# Data Analysis of World Human Development And GDP (1961-2021)üåç

## DatasetsüóÑÔ∏è

### 1.World's Country GDP
The dataset that I use here contains the historical data from 1960 to 2021 of the GDP by country, additionally its growth rate per year is calculated.
The data is obtained from the World Bank data, the dataset is downloaded, a pre-processing was carried out in which geographic data such as regions, subregions were added and the % variation per year and country was calculated.

### 2.Human Development Index Historical data
HDI is a composite index measuring average achievement in three basic dimensions of human development-a long and healthy life, knowledge and a decent standard of living. The HDI is the geometric mean of normalized indices for each of the three dimensions.

Indicators- Life expectancy at birth, Mean Years of Schooling, GNI Per Capita

### 3.World Population Dataset
This Dataset contains Population data of every Country/Territory in the world

## Objectives

objectives

### Loading Libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import plotly.express as px
import plotly.graph_objects as go

### Loading Datasets

In [2]:
gdp=pd.read_csv('./datasets/gdp.csv')
hdi=pd.read_csv('./datasets/Human Development Index and its components 2021.csv')
wp=pd.read_csv('./datasets/world_population.csv')

In [28]:
gdp

,Country Name,Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Unnamed: 65
0,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.534637e+09,2.727850e+09,2.790849e+09,2.962905e+09,2.983637e+09,3.092430e+09,3.202189e+09,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,1.931311e+10,1.972349e+10,2.149392e+10,2.573321e+10,2.352744e+10,2.681057e+10,2.915216e+10,3.017317e+10,...,9.505214e+11,9.642424e+11,9.848071e+11,9.199300e+11,8.733549e+11,9.853557e+11,1.012853e+12,1.009910e+12,9.207923e+11,NaN
2,Afghanistan,AFG,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,1.400000e+09,1.673333e+09,...,1.990732e+10,2.014640e+10,2.049713e+10,1.913421e+10,1.811656e+10,1.875347e+10,1.805323e+10,1.879945e+10,2.011614e+10,NaN
3,Africa Western and Central,AFW,1.040428e+10,1.112805e+10,1.194335e+10,1.267652e+10,1.383858e+10,1.486247e+10,1.583285e+10,1.442643e+10,...,7.275714e+11,8.207876e+11,8.649666e+11,7.607297e+11,6.905430e+11,6.837416e+11,7.416916e+11,7.945725e+11,7.845876e+11,NaN
4,Angola,AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.280529e+11,1.367099e+11,1.457122e+11,1.161936e+11,1.011239e+11,1.221238e+11,1.013532e+11,8.941719e+10,5.837598e+10,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.163785e+09,6.735731e+09,7.074658e+09,6.295820e+09,6.682833e+09,7.180813e+09,7.878509e+09,7.899879e+09,7.716925e+09,NaN
262,"Yemen, Rep.",YEM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.540134e+10,4.041524e+10,4.322859e+10,4.244510e+10,3.131737e+10,2.684013e+10,2.160614e+10,NaN,NaN,NaN
263,South Africa,ZAF,7.575397e+09,7.972997e+09,8.497997e+09,9.423396e+09,1.037400e+10,1.133440e+10,1.235500e+10,1.377739e+10,...,4.344005e+11,4.008860e+11,3.811989e+11,3.467098e+11,3.235855e+11,3.814488e+11,4.048421e+11,3.879346e+11,3.354421e+11,NaN
264,Zambia,ZMB,7.130000e+08,6.962857e+08,6.931429e+08,7.187143e+08,8.394286e+08,1.082857e+09,1.264286e+09,1.368000e+09,...,2.550306e+10,2.803724e+10,2.714102e+10,2.125122e+10,2.095841e+10,2.587360e+10,2.631159e+10,2.330867e+10,1.811063e+10,NaN
265,Zimbabwe,ZWE,1.052990e+09,1.096647e+09,1.117602e+09,1.159512e+09,1.217138e+09,1.311436e+09,1.281750e+09,1.397002e+09,...,1.711485e+10,1.909102e+10,1.949552e+10,1.996312e+10,2.054868e+10,1.758489e+10,1.811554e+10,1.928429e+10,1.805117e+10,NaN

In [36]:
hdi

,HDI rank,Country,Human Development Index (HDI) (Value),Life expectancy at birth(years),Expected years of schooling(years),Mean years of schooling(years),Gross national income (GNI) per capita(2017 PPP $),GNI per capita rank minus HDI rank,HDI rank 2019
0,1.0,Norway,0.957,82.4,18.1,12.9,"66,494",7.0,1.0
1,2.0,Ireland,0.955,82.3,18.7,12.7,"68,371",4.0,3.0
2,2.0,Switzerland,0.955,83.8,16.3,13.4,"69,394",3.0,2.0
3,4.0,"Hong Kong, China (SAR)",0.949,84.9,16.9,12.3,"62,985",7.0,4.0
4,4.0,Iceland,0.949,83.0,19.1,12.8,"54,682",14.0,4.0
...,...,...,...,...,...,...,...,...,...
257,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
258,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
259,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
260,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
261,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
wp

,Rank,CCA3,Country/Territory,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km¬≤),Density (per km¬≤),Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52
1,138,ALB,Albania,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04
2,34,DZA,Algeria,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56
3,213,ASM,American Samoa,Pago Pago,Oceania,44273,46189,51368,54849,58230,47818,32886,27075,199,222.4774,0.9831,0.00
4,203,AND,Andorra,Andorra la Vella,Europe,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,1.0100,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,226,WLF,Wallis and Futuna,Mata-Utu,Oceania,11572,11655,12182,13142,14723,13454,11315,9377,142,81.4930,0.9953,0.00
230,172,ESH,Western Sahara,El Aai√∫n,Africa,575986,556048,491824,413296,270375,178529,116775,76371,266000,2.1654,1.0184,0.01
231,46,YEM,Yemen,Sanaa,Asia,33696614,32284046,28516545,24743946,18628700,13375121,9204938,6843607,527968,63.8232,1.0217,0.42
232,63,ZMB,Zambia,Lusaka,Africa,20017675,18927715,16248230,13792086,9891136,7686401,5720438,4281671,752612,26.5976,1.0280,0.25
233,74,ZWE,Zimbabwe,Harare,Africa,16320537,15669666,14154937,12839771,11834676,10113893,7049926,5202918,390757,41.7665,1.0204,0.20

### World Population Exploratory

In [94]:
wp["World Population Percentage"].sum()

99.93

In [88]:
world_pop=pd.DataFrame({'1970':[0],'1980':[0], '1990':[0],'2000':[0],'2010':[0],'2020':[0],'2022':[0]})

In [89]:
world_pop.rename(index={0:'Population'}, inplace=True)

In [90]:
world_pop

            1970  1980  1990  2000  2010  2020  2022
Population     0     0     0     0     0     0     0

In [91]:
world_pop[["1970"]]=wp[["1970 Population"]].sum()
world_pop[["1980"]]=wp[["1980 Population"]].sum()
world_pop[["1990"]]=wp[["1990 Population"]].sum()
world_pop[["2000"]]=wp[["2000 Population"]].sum()
world_pop[["2010"]]=wp[["2010 Population"]].sum()
world_pop[["2020"]]=wp[["2020 Population"]].sum()
world_pop[["2022"]]=wp[["2022 Population"]].sum()

In [92]:
world_pop

,1970,1980,1990,2000,2010,2020,2022
Population,3694136661,4442400371,5314191665,6147055703,6983784998,7839250603,7973413042